<nav class="navbar navbar-light bg-light p-2 justify-content-between">
  <span class="navbar-brand">Github API with Firebase Auth</span>
  <ng-container *ngIf="authService.user$ | async as user">
    <a routerLink="/blocks">Blocks</a>
    <a routerLink="/table">Table</a>
    <div class="user-info justify-content-end">
      <ng-container *ngIf="!!user.multiFactor.user.photoURL">
        <img src="{{user.multiFactor.user.photoURL}}" class="user-info-img" alt="User image">
        <div class="user-info-login mx-3">
          Login: {{user.multiFactor.user.displayName}}
        </div>
      </ng-container>
    </div>
    <div mdbDropdown class="btn-group">
      <button
        type="button"
        class="btn btn-primary dropdown-toggle"
        mdbDropdownToggle
        aria-expanded="false">
        Menu
      </button>
      <ul mdbDropdownMenu class="dropdown-menu dropdown-menu-end">
        <li><button class="dropdown-item" type="button" (click)="authService.logout()">Logout</button></li>
      </ul>
    </div>
  </ng-container>
  <button type="button" class="btn btn-dark btn-floating" (click)="openModal()" *ngIf="!(authService.user$ | async)">
    <i class="fas fa-sign-in-alt"></i>
  </button>
</nav>

<ng-container *ngIf="authService.user$ | async; else auth">
  <div class="container">
    <div class="row">
      <div class="col-4 mt-4 mb-4">
        <form class="form search-form" [formGroup]="githubService.searchForm">
          <input class="form-control mb-4 mt-2"
                 type="search"
                 placeholder="Username"
                 formControlName="search"
                 aria-label="Search"
                 [ngClass]="{'is-invalid': (githubService.search?.dirty || githubService.search?.touched) &&
                 githubService.search?.invalid}">
          <button class="btn btn-outline-success me-2" type="submit" (click)="searchGithubData()">Search</button>
          <div class='error-message' *ngIf="(githubService.search?.dirty || githubService.search?.touched) &&
          githubService.search?.errors?.required"> *Обязательное поле </div>
          <button class="btn btn-danger" type="button" (click)="clearSearch()">Clear</button>
        </form>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</ng-container>

<ng-template #auth>
  <div class="container m-5">
    <div class="d-flex justify-content-center">
     <h5>Please authenticate user!</h5>
    </div>
  </div>
</ng-template>




