<form novalidate [formGroup]="signUserForm" (ngSubmit)="signInUserEmail()">
  <mdb-form-control class="my-2">
    <input mdbInput type="text" id="email" class="form-control" formControlName="email" autocomplete="on"/>
    <label mdbLabel class="form-label" for="email">Email</label>
    <div class='error-message' *ngIf= "email.errors?.required || email.errors?.email">Please enter a valid email</div>
  </mdb-form-control>
  <mdb-form-control class="my-2">
    <input mdbInput type="password" id="signPassword" class="form-control" formControlName="password" autocomplete="on"/>
    <label mdbLabel class="form-label" for="signPassword">Password</label>
    <div class='error-message' *ngIf= "email.errors?.required">Please enter a valid email</div>
  </mdb-form-control>
  <div class="d-flex justify-content-end">
      <button type="button" class="btn btn-outline-success mx-2" (click)="signInUserGithub()">Register via Github</button>
      <button type="submit" class="btn btn-primary">Register</button>
  </div>
</form>
